<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>200387252930-sbsf5sagcot7psupfn9vk5garhf0lutd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200387252930-sbsf5sagcot7psupfn9vk5garhf0lutd</string>
	<key>API_KEY</key>
	<string>AIzaSyBV11nRAifSiEHlIvlh_-A09CZHLW4qEuo</string>
	<key>GCM_SENDER_ID</key>
	<string>200387252930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.ung.Lets-Teach</string>
	<key>PROJECT_ID</key>
	<string>lets-teach</string>
	<key>STORAGE_BUCKET</key>
	<string>lets-teach.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200387252930:ios:ebd6564e729c7ea3</string>
	<key>DATABASE_URL</key>
	<string>https://lets-teach.firebaseio.com</string>
</dict>
</plist>